{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/home.css">
{% endblock %}

{% block content %}
    <div class="card">
        <div class="content">
            <div class="text">
                <h1>Connecting yoga students and teachers</h1>
                <p>Find yoga teachers and start practicing online classes and guided meditations right now.</p>
            </div>
            <div class="img-background">
                <img src="/background-img.svg" alt="Chef Foodfy">
            </div>
    </div>
{% endblock content %}