<!DOCTYPE html>
<html>

    <head>

        {%block head%}
            <title>Easyoga</title>
        {%endblock%}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/" class="active">Teachers</a>
                <a href="/members">Students</a>
            </div>
        </header>

        {% block content %}{% endblock %}
        
    </body>

</html>