<!DOCTYPE html>
<html>

    <head>

        {%block head%}
            <title>Easyoga</title>
        {%endblock%}
        
        {% block styles %}
        {% endblock styles %}

        <link rel="stylesheet" href="/main.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/teachers" class="active">Teachers</a>
                <a href="/students">Students</a>
            </div>
        </header>

        {% block content %}{% endblock %}
        
    </body>

</html>