{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/teachers.css">
    <link rel="stylesheet" href="/create.css">
{% endblock %}

{% block content %}
    <form class="card" method="POST" action="/students">
        <section class="avatar">
            
        </section>
        <section class="details">

            <h3>New Student</h3>

            {%include 'students/fields.njk'%}

            <button type="submit">Send!</button>
            
        </section>
    </div>
{% endblock content %}
