{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/teachers.css">
{% endblock %}

{% block content %}
    <div class="card table-container">
        <a href="/students/create">New Student</a>
        <table>
            <thead>
                <tr>
                    <th>Students</th>
                    <th>Email</th>
                    <th>Skill Level</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {%for student in students%}
                    <tr>
                        <td>
                            <span style="background-image: url({{student.avatar_url}})"></span>
                            {{student.name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.skill_level}}</td>
                        <td><a href="/students/{{student.id}}">Details</a></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock content %}
