{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/show.css">
{% endblock %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background: url({{student.avatar_url}}) no-repeat center center / cover"></section>
        <section class="details">

            <h3>Details</h3>

            <div class="item">
                <div>Name</div>
                <div>{{student.name}}</div>
            </div>

            <div class="item">
                <div>Email</div>
                <div>{{student.email}}</div>
            </div>

            <div class="item">
                <div>Birthday</div>
                <div>{{student.birth_date}}</div>
            </div>

            <div class="item">
                <div>Skill Level</div>
                <div>{{student.skill_level}}</div>
            </div>

            <div class="item">
                <div>Gender</div>
                <div>{{'Male' if student.gender == 'M' else 'Female'}}</div>
            </div>

            <div class="item">
                <div>Disciple of</div>
                <div>{{student.teacher_name}}</div>
            </div>

            <a href="/students/{{student.id}}/edit" class="button">Edit</a>
            
        </section>
    </div>
{% endblock content %}
