@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --calm-color: rgb(32, 93, 197);
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1503614472-8c93d56e92ce?ixlib=rb-1.2.1&auto=format&fit=crop&w=1398&q=80');
}

header {
    width: 100%;
    padding: 24px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 20px;
    line-height: 32px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: white;
    position: relative;
}

.links {
    position: relative;
}

.links #logo {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 28px;
    position: absolute;
    left: 260px;
}

.links a.active {
    font-weight: bold;
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}