:root {
    --calm-color: rgb(32, 93, 197);
}

.card {
    background-color: white;
    width: 800px;
    min-height: 536px;
    border-radius: 8px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 10px 10px 6px -2px rgba(0, 0, 0, 0.4);

    animation-name: up;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

.avatar {
    background: url('https://source.unsplash.com/collection/4412133/500x500') no-repeat center center / cover;
    width: 320px;
    height: 540px;
    border-radius: 8px 0 0 8px;
}

.details {
    width: 480px;
    margin: 16px;
}

.details .item {
    padding: 12px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--calm-color);
    border-radius: 16px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--calm-color);
}

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    width: 100%;
    border-spacing: 0;
}

.table-container thead {
    text-align: left;
}

td, th {
    padding: 16px;
}

th {
    text-transform: uppercase;
    color: var(--calm-color);
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td:last-child a {
    background-color: var(--calm-color);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

tbody tr td:last-child a:hover {
    opacity: 0.7;
    transition: 300ms;
}

th:last-child,
td:last-child {
    text-align: center;
}