<!DOCTYPE html>
<html>

    <head>

        {%block head%}
            <title>Easyoga</title>
        {%endblock%}
        
        {% block styles %}
        {% endblock styles %}
        <link href="https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/main.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a id="logo" href="/home">Easyoga</a>
                <a id="teachers" href="/teachers">Teachers</a>
                <a id="students" href="/students">Students</a>
            </div>
        </header>

        {% block content %}{% endblock %}

        <script src="/scripts.js"></script>
        
    </body>

</html>