{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/teachers.css">
    <link rel="stylesheet" href="/create.css">
{% endblock %}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section class="avatar">
            
        </section>
        <section class="details">

            <h3>New Teacher</h3>

            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input
                        type="text"
                        name="avatar_url"
                        placeholder="http://"
                    >
                </div>
            </div>

            <div class="item">
                <div>Name</div>
                <div>
                    <input
                        type="text"
                        name="name"
                        placeholder="Enter your name! :)"
                    >
                </div>
            </div>

            <div class="item">
                <div>Date of Birth</div>
                <div>
                    <input
                        type="date"
                        name="dateOfBirth"
                    >
                </div>
            </div>

            <div class="item">
                <div>Skill Level</div>
                <div>
                    <select name="skills">
                        <option value="Beginner (0 to 2 years +)" selected>Beginner (0 to 2 years +)</option> 
                        <option value="Intermediate (2 to 6 years +)">Intermediate (2 to 6 years +)</option>
                        <option value="Advanced (6 to 20 years +)">Advanced (6 to 20 years +)</option>
                        <option value="Buddha (20 years +)">Buddha (20 years +)</option>
                    </select>
                </div>
            </div>

            <div class="item">
                <div>Gender</div>
                <div>
                    <span><input type="radio" name="gender" value="M">Male</span>
                    <span><input type="radio" name="gender" value="F">Female</span>
                </div>
            </div>

            <div class="item">
                <div>Services</div>
                <div>
                    <input
                        type="text"
                        name="services"
                        placeholder='Enter your services separated by comma!:)'
                    >
                </div>
            </div>

            <button type="submit">Send!</button>
            
        </section>
    </div>
{% endblock content %}
