{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/teachers.css">
{% endblock %}

{% block content %}
    <div class="card">
        <section class="avatar">
            
        </section>
        <section class="details">

            <h3>Details</h3>

            <div class="item">
                <div>Name</div>
                <div>Tatiana Fischer</div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>28</div>
            </div>

            <div class="item">
                <div>Education</div>
                <div>Bachelor Degree</div>
            </div>

            <div class="item">
                <div>Gender</div>
                <div>Female</div>
            </div>

            <div class="item">
                <div>Services</div>
                <span>Yoga</span>
                <span>Nutrition</span>
            </div>

            <div class="item">
                <div>Since</div>
                <div>01/01/2019</div>
            </div>
            
        </section>
    </div>
{% endblock content %}
