{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/teachers.css">
{% endblock %}

{% block content %}
    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>Teachers</th>
                    <th>Services</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {%for teacher in teachers%}
                    <tr>
                        <td>{{teacher.name}}</td>
                        <td>{{teacher.services}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock content %}
